@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>About  US</h1><br />

<p>
    Information About FIS
</p>

<img src="~/images/image1.jpg" height="400", width="400"/>