@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Sub Task A</h4>
<br />
<h1>Employee Details</h1><br />
<table border="2" width="20">
    <tr>
        <th>EmpID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Deptno</th>
        
    </tr>

     <tr>
        <td>1</td>
        <td>Krishav</td>
        <td>IT Trainee</td>
        <td>100000</td>
        <td>6</td>
        
    </tr>

     <tr>
        <td>2</td>
        <td>Sharma/td>
        <td>Manager</td>
        <td>20000</td>
        <td>3</td>
        
    </tr>
</table>